/* 

  global

*/

/* abstracs */
@import url("./Global/GAbstracs/GVarible.css");

/* base */
@import url("./Global/GBase/GReset.css");
@import url("./Global/GBase/GTypography.css");

/* utils */
@import url("./Global/GUtils/GConatiner.css");

/* 

  components

*/

/* Form */
@import url("./Components/CForm.css");