*,
*::before,
*::after{
   box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body{
   margin: 0;
}

img{
   width: 100%;
}

ul[role=list]{
   margin: 0;
   padding: 0;
   list-style: none;
}

ul[role=list] a{
   text-decoration: none;
}